{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<td><a href="/event">Events</a></td>
<td><a href="/users">Users</a></td>
<td><a href="/categories">Categories</a></td>
<td><a href="/profile">Profile</a></td>
<a href="{{path('logout')}}">Logout</a>

<h1>{{ user.username }}</h1>
<p>Email: {{ user.email }}</p>
{% if user.role == 1 %}
<p>You have Admin role</p>
{% endif %}

{% endblock %}
