{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block titleBar %}{% endblock %}
{% block eventBlockTitleUser %}{% endblock %}
{% block body %}

    <link rel="stylesheet" href="{{ asset('front-end/css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('front-end/css/new.css') }}">
<div class="alignProfile">
<h1>{{ user.username }}</h1>
<p>Email: {{ user.email }}</p>
{% if user.role == 1 %}
<p>You have Admin role</p>
    <td><a class="btn classNew1" href="/event" >Go Back</a></td>
    </div>
{% endif %}
{% endblock %}
