{% extends 'base.html.twig' %}

{% block title %}Edit event{% endblock %}
{% block titleBar %}{% endblock %}
{% block eventBlockTitleUser %}{% endblock %}
{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="/event">Go Back</a>

{% endblock %}
