{% extends 'base.html.twig' %}

{% block title %}All Categories{% endblock %}
{% block eventBlockTitleAdmin %}{% endblock %}
{% block titleBar %}{% endblock %}
{% block body %}

{% if categories %}
<link rel="stylesheet" href="{{ asset('front-end/css/index.css') }}">
<div class="eventTitleAlign">
    <p align="center">Subscribe categories to see upcoming events </p>
</div>
<div class="align1">
    <table id="category" class ="table table-striped">
    <thead>
    <tr>
      <th>Category</th>
      <th>Actions</th>
      </tr>
      </thead>
      <tbody>
          {% for category in categories %}
          <tr>
          <td>{{ category.name }}</td>
          {% set subbed = 0 %}
          {% for sub in category.sub %}
          {% if sub == userid %}
          {% set subbed = 1 %}
          {% endif %}
          {% endfor %}
          {% if subbed == 1 %}
          <td><a href="/categories/unsub/{{category.id}}" button class="btn">Unsubscribe</a></td>
          {% else %}
          <td><a href="/categories/sub/{{category.id}}" button class="btn">Subscribe</a></td>
          {% endif %}
          </tr>
          {% endfor %}
      </tbody>
      </table>
</div>
{% else %}
    <p>No Categories</p>
{% endif %}
{% endblock %}
