{% extends 'base.html.twig' %}

{% block title %}All Categories{% endblock %}
{% block titleBar %}{% endblock %}
{% block eventBlockTitleUser %}{% endblock %}
{% block body %}



{% if categories %}
    <link rel="stylesheet" href="{{ asset('front-end/css/index.css') }}">
    <div class="textCategory">
        <p>Welcome to the Category section</p>
    </div>
<div class="textCategory1">
    <p>If you would like to create new category, please press link
    <a href="/categories/new" class="createNewCategory">Create!</a></p>
</div>
    <div class="align">
    <table id="category" class ="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Category</th>
      <th>Customize</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>
          {% for category in categories %}
          <tr>
          <td>{{ category.name }}</td>
          <td><a href="/categories/edit/{{category.id}}" button class="btn">Edit</a></td>
          <td><a href="#" button class="btn del" data-id="{{ category.id }}">Delete</a></td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </div>
{% else %}
    <div class="textCategory">
        <p>Welcome to the Category section</p>
    </div>
    <div class="textCategory1">
        <p>If you would like to create new category, please press link
            <a href="/categories/new" class="createNewCategory">Create!</a></p>
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="/js/maincat.js"></script>
{% endblock %}
