{% extends 'base.html.twig' %}

{% block title %}All Categories{% endblock %}
{% block titleBar %}{% endblock %}
{% block eventBlockTitleUser %}{% endblock %}
{% block body %}

<td><a href="/categories/new" button class="btn">Create new</a></td>

{% if categories %}
    <link rel="stylesheet" href="{{ asset('front-end/css/index.css') }}">
    <table id="category" class ="table table-striped">
    <thead>
    <tr>
      <th>Category</th>
      <th>Actions</th>
      </tr>
      </thead>
      <tbody>
          {% for category in categories %}
          <tr>
          <td>{{ category.name }}</td>
          <td><a href="/categories/edit/{{category.id}}" button class="btn">Edit</a></td>
          <td><a href="#" button class="btn del" data-id="{{ category.id }}">Delete</a></td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
{% else %}
    <p>No Categories</p>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="/js/maincat.js"></script>
{% endblock %}
