body{

    margin: 0;
    padding: 0;
}

.titleLinks{
    word-spacing: 20px;
}
.align{
    position: absolute;
    display: block;
    flex-direction:column ;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    height: 200px;
    width: 900px;
    background: white;
}
.align1{
    position: absolute;
    display: block;
    flex-direction:column ;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    height: 200px;
    width: 900px;
    background: white;
}
.alignProfile{
    position: absolute;
    left:100px;
}
a:visited{
    color:black;
}
a:link{
    color: black;
}
a:hover{
    color:black;
}
.textCategory{
    margin-top: 0px;
    margin-left: 550px;
    font-size: 26px;
}
.textCategory1{

    margin-left: 525px;
    font-size: 16px;
}
.eventTitleAlign{

    font-size: 26px;
}
.eventTitleAlign1{
    font-size: 18px;
}
.eventTitleAlign2{
    font-size: 18px;

}
.colorUser{
    color: #204d74;
    background: none;
    font-weight: bolder;
}

a.createNewCategory:visited{
color: #4da6ff;
}
a.createNewCategory:link{
    color: #4da6ff;
}
a.createNewCategory:hover{
    color: #204d74;
}
