*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
}
html {height:100%}

/* NAVIGATION */

.navbar-bg {
    background: url('../images/nav.jpg');
    background-size: 100%;

}
.navbarhead-bg {
    background: #006666;
    background-size: 100%;
}

/*QUOTES*/
.logoQuote{

    font-family: "Times New Roman";
    text-align:center;
    font-size: 26px;
    font-weight: bold;
    color:black;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-content: center;
    margin-top: 70px;

}
.logoQuote1{


    font-family: "Times New Roman";
    text-align:center;
    font-size: 28px;
    font-weight: bold;
    color:black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.try{
    position: relative;
    bottom: -500px;
}
/*BUTTONS*/
.signupButton{

    transform: translate(-0%,-0%);
    width: 200px;
    height: 40px;
    background: #006666;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    color: #555;
    text-transform: none;
    text-decoration: none;
    font-family: "Times New Roman";
    letter-spacing: 1px;
    transition: 8s;
    overflow: hidden;
    border: none;
    margin: auto;
}
.signupButton:visited{
    color: white;
    text-decoration: none;
}
.signupButton:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(179, 255, 255,0);
    filter: blur(4px);
    transition: 20ms;
    z-index: -1;
}
.signupButton:hover{ /*15px 0 50*/
    color: #000000;
    box-shadow: -5px 0 10px rgba(46, 46, 31,1), 5px 0 10px rgba(85, 85, 43,1);
    text-shadow: 0 0 10px rgba(46, 46, 31,0.50), 0 0 25px rgba(46, 46, 31,0.50), 0 0 35px rgba(85, 85, 43,0.50);
}
.signupButton:hover:before{
    background: rgba(0, 77, 77,1);
    transform: scaleX(5);
}
.signupButton:after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(122,0,255,0);
    filter: blur(4px);
    transition: 20ms;
    z-index: -1;
    mix-blend-mode: lighten;
}
.signupButton:hover:after{
    background: rgba(179, 255, 255,1);
    transform: scaleX(10);
}

.loginButton{
    transform: translate(-0%,-0%);
    width: 200px;
    height: 40px;
    background: #006666;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    color: #555;
    text-transform: none;
    text-decoration: none;
    font-family: "Times New Roman";
    letter-spacing: 1px;
    transition: 20ms;
    overflow: hidden;
    border: none;
    margin: 0 auto;
}
.loginButton:visited{
    color: white;
    text-decoration: none;
}
.loginButton:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(51, 51, 0,0);
    filter: blur(4px);
    transition: 20ms;
    z-index: -1;
}
.loginButton:hover{ /*15px 0 50*/
    color: #000000;
    box-shadow: -5px 0 10px rgba(46, 46, 31,1), 5px 0 10px rgba(85, 85, 43,1);
    text-shadow: 0 0 10px rgba(46, 46, 31,0.50), 0 0 25px rgba(46, 46, 31,0.50), 0 0 35px rgba(85, 85, 43,0.50);
}
.loginButton:hover:before{
    background: rgba(255, 204, 153,1);
    transform: scaleX(10);
}
.loginButton:after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(122,0,255,0);
    filter: blur(4px);
    transition: 20ms;
    z-index: -1;
    mix-blend-mode: lighten;
}
.loginButton:hover:after{
    background: rgba(230, 255, 153,1);
    transform: scaleX(10);
}
/*TITLES OF MAIN MENU*/

.alignMenu{
    font-family: "Times New Roman";
    text-align:center;
    font-size: 20px;
    font-weight: 300;
    color:black;
    display: block;
    flex-direction:column ;
    justify-content: center;
    align-content: center;

}
.menuText{
    text-decoration: underline dotted gray ;
}

a:visited{
    color:white;
    text-decoration:none;
    text-decoration-line: none;
}
a:link{
    color:white;
    text-decoration:none;
    text-decoration-line: none;
}



