body{

    margin: 0;
    padding: 0;
    background: #e6ffe6;
}
.wrap{
    max-width: 300px;
    max-height: 600px;
    border-radius: 20px;
    background: #006666;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-left: 600px;
    margin-top: 10px;
}
h2{
    text-align: center;
}
.textBox{

    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(50, 50, 26,0);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;

    font-weight: bold;

}
.textBox2{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
.labelStyles{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

.btn{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #ffffb3;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}
.btn:hover{
    background: #ffffb3;
    opacity: 0.7;
}