{# templates/users/menu.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}menu{% endblock %}

{% block menuStyleSheet %}


{% endblock %}
{% block meniuBar %}
    <link rel="stylesheet" href="{{ asset('front-end/css/menu.css') }}">
    <b class="logoQuote">We are all joined in a circle of stories</b>
    <b class="logoQuote1">Find your own story</b>

{% endblock %}


{% block body %}

    <button class="signupButton"><a href="{{ '/register' }}">Sign up</button><br>
    <button class="loginButton"><a href="{{ '/login' }}">Log in</button>
{% endblock %}
